{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>{% block title %}Início - Flamengo{% endblock %}</title>
</head>
<body>
    {% block nav %}
    <!--Cabeçalho-->
    <header class="header">
        <!--Logo-->
        <div class="nav container">
            <a href="{% url 'index' %}" class="logo"> <img src="{% static 'img/logo.png' %}" alt="Logo do flamengo" class="logo_img"> </a>
            <!--Páginas-->
            <nav class="navbar">
                <a href="{% url 'index' %}">Início</a>
                <a href="{% url 'jogadores' %}">Jogadores</a>
                <a href="{% url 'sobre' %}">Sobre</a>
            </nav>
            <div class="social">
                <a href="https://www.instagram.com/flamengo/" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.facebook.com/FlamengoOficial/?locale=pt_BR" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://x.com/flamengo_en" target="_blank"><i class="bx bxl-twitter"></i></a>
            </div>
        </div>
    </header>
    {% endblock %}

    <!--Conteúdo-->
    {% block content %}
    <div class="home_text">
        <center>
            <h1>Flamengo</h1>
        </center>
        <h3>O melhor time do Brasil!</h3>
    </div>
    <section class="home container" style="background-image: url('{% static 'img/img-principal.jpg' %}');">
        
    </section>

    <h1 class="titulo">Principais notícias</h1>

    <section class="post container">
        <div class="post-caixa">
            <img src="{% static 'img/img-principal.1.webp' %}" alt="Foto do jogador do flamengo" class="post-img"> 
            <a href="https://www.flamengo.com.br/noticias/futebol/flamengo-segura-pressao-do-racing--garante-o-empate-e-esta-na-decisao-da-libertadores" class="post-titulo">Flamengo segura pressão do Racing, garante o empate e está na decisão da Libertadores</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/img-principal.2.webp' %}" alt="Foto do tecnico do Flamengo" class="post-img"> 
            <a href="https://www.flamengo.com.br/noticias/futebol/flamengo-x-sport--retrospecto--arbitragem-e-mais-informacoes-sobre-o-duelo-pelo-brasileirao" class="post-titulo">Flamengo x Sport: retrospecto, arbitragem e mais informações sobre o duelo pelo Brasileirão</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/img-principal.4.webp' %}" alt="Foto do time" class="post-img"> 
            <a href="https://www.flamengo.com.br/noticias/futebol/racing-x-flamengo--retrospecto--arbitragem-e-mais-informacoes-sobre-o-duelo-decisivo-da-libertadores" class="post-titulo">Racing x Flamengo: retrospecto, arbitragem e mais informações sobre o duelo decisivo da Libertadores</a>
        </div>
    </section>

     <h1 class="titulo">Fotos</h1>  

      <section class="post container">
        <div class="post-caixa">
            <img src="{% static 'img/img-foto.1.webp' %}" alt="Foto do time" class="post-img"> 
            <a href="https://www.flamengo.com.br/fotos/futebol/flamengo-x-palmeiras-" class="post-titulo">FLAMENGO X PALMEIRAS - CAMPEONATO BRASILEIRO - MARACANA - 19-10-2025</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/img-foto.2.webp' %}" alt="Foto do time" class="post-img"> 
            <a href="https://www.flamengo.com.br/fotos/futebol/estudiantes-x-flamengo---copa-libertadores---" class="post-titulo">ESTUDIANTES X FLAMENGO - COPA LIBERTADORES - ESTADIO JORGE LUIS HIRSHI - 25-09-2025</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/img-foto.3.webp' %}" alt="Foto do time" class="post-img"> 
            <a href="https://www.flamengo.com.br/fotos/futebol/corinthians-x-flamengo---campeonato-brasileiro---neo-quimica-arena---28-09-2025" class="post-titulo">CORINTHIANS X FLAMENGO - CAMPEONATO BRASILEIRO - NEO QUIMICA ARENA - 28-09-2025</a>
        </div>
    </section>
    {% endblock %}

     <div class="footer container">
        <p>Copyright © 2024.</p>
        <div class="footer_text">
            <p>Produzido por Stephanny Nayanne Borges da Silva</p>
        </div>
    </div>
</body>
</html>