{% extends 'base.html' %}
{% load static %}

<!--Edição do conteúdo da página "Jogadores"-->

{% block content %}
<div class="home_text">
    <h1>Jogadores</h1>
    <h3>O melhor time do Brasil!</h3>
</div>
<section class="home container" style="background-image: url('{% static 'img/img-principal.jpg' %}');"></section>



<div class="grid">
{% for jogador in jogadores %}
    <section class="jogador container">
        <div class="jogador-caixa">
            <img src="{{ jogador.foto.url }}" alt="{{ jogador.nome }}" class="jogador-img"> 
            <div class="card-body">
                <h1 class="jogador-titulo">{{ jogador.nome }}</h5>
                <div class="jogador-text">
                  Idade: {{ jogador.idade }}<br>
                  Local de Nascimento: {{ jogador.nascimento }}<br>
                  Cidade: {{ jogador.cidade }}<br>
                  Posição: {{ jogador.posicao }}<br>
                </div>
              </div>
        </div>
    </section>
{% endfor %}
</div>

{% endblock %}