{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home_text">
    <center>
        <h1>Sobre o time</h1>
    </center>
    <h3>O melhor time do Brasil!</h3>
</div>
<section class="home container" style="background-image: url('{% static 'img/img-principal.jpg' %}');">
</section>

<div class="sobre container">
    <p> O Flamengo, fundado em 1895 como clube de remo e transformado em equipe de futebol em 1911, é um dos clubes mais populares e vitoriosos do Brasil.<br>
        Com uma trajetória marcada por títulos e grandes ídolos, destacou-se especialmente nas décadas de 1980 e 2010.<br>
        Nos anos 80, viveu uma era dourada liderada por Zico, conquistando a Taça Libertadores e o Mundial Interclubes em 1981.<br>
        Já nos anos 2010 e 2020, voltou ao protagonismo com um elenco estrelado, vencendo a Libertadores novamente em 2019 e 2022, além de diversos títulos nacionais.<br>
        Conhecido por sua apaixonada torcida e por revelar talentos, o Flamengo é um símbolo de tradição e grandeza no futebol sul-americano.
    </p>
</div>

{% endblock %}